@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}
p {
  font-size: 16px;
}
.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
  z-index: 10;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  /* padding-left: 3rem; */
}

/* .nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
} */

.nav div.logo a:hover {
  color: #00e676;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 60px;
  padding: 0;
  padding-left: 2rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 0.7rem;
  font-weight: 800;
  text-transform: uppercase;
}
.nav div.main_list ul li .bt,
#video-section .bt,
#mobile_content .bt {
  background-color: #75cde8;
  padding: 12px;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
}
.nav div.main_list ul li .bt:hover {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
#video-section .bt {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}
#video-section .bt:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
.nav div.main_list ul li a:hover {
  color: #979998;
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

form label {
  font-size: 0.8rem;
  margin-top: 12px;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #0c0e1e;
  color: #111;
}

/* Main section starts */

.video-container {
  position: relative;
  top: 0;
  width: 100%;
  height: 0;
  /* 16:9 aspect ratio (change if needed) */
  padding-bottom: 56.25%;
  /* padding: -25.25% 0 100.25% 0; */
  height: 100vh;
}

/* Set video element to fill video container */
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Add gradient overlay */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6));
}

/* Center content within the video container */
.video-content {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
  /* width: 1380px; */
}

.video-content h1 {
  font-size: 2.2rem;
  font-weight: 800;
}
.video-content img {
  /* width: 180px; */
  padding-bottom: 23px;
}

.video-content h2 {
  color: #fff;
  text-align: center;
  font-weight: 800;
  font-size: 2.2rem;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1.2;
}

.video-content p {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  font-size: 24px;
  margin-top: 10px;
}
.video-content #timer .timer_container {
  font-weight: 700;
}

.video-content h4 {
  font-weight: 700;
  font-size: 1.4rem;
  margin: 12px;
}
.video-content #timer .timer_container span {
  padding: 6px 12px;
  background-color: #fff;
  font-size: 1rem;
  border-radius: 6px;
  color: #111;
}
.video-content #timer .timer_container p {
  font-size: 2rem;
  margin: 0 12px;
}
.read_more_contents .hidden-para {
  max-height: 0; /* Initially hidden */
  overflow: hidden;
  transition: max-height 0.5s ease; /* Add transition */
}

.read_more_contents.expanded .hidden-para {
  max-height: 500px; /* Adjust to a suitable value */
  transition: max-height 0.5s ease; /* Add transition */
}

#info_section,
#why_oman {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#trending_topics h2,
#event_heading h2,
#topics_card h2,
#client_logos h2,
.tech_categories_section h2,
#sponsors h2 {
  color: black;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  background: -webkit-linear-gradient(#8e8d8d, #3ab7dd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#info_section h2,
#why_oman h2,
#themes_in_focus h2,
#event_sessions h2,
#who_should_attend h2 {
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
  background: -webkit-linear-gradient(#8e8d8d, #3ab7dd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
#themes_in_focus h2,
.tech_categories_section h2 {
  text-transform: capitalize;
}
#themes_in_focus h2 #event_sessions h2 {
  color: #fff;
  font-weight: 700;
}

#why_oman .bt {
  background-color: #75cde8;
  color: #fff;
}
#why_oman .bt:hover {
  color: #825248;
  background-color: transparent;
  border: 2px solid #75cde8;
}
#info_section p,
#why_oman p {
  opacity: 0.9;
  font-weight: 700;
}

.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  grid-gap: 60px;
  justify-items: center;
}

.cc_card {
  height: 450px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
}

.cards_container img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
}

.intro {
  height: 100px;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  background: #75cde8;
  transition: 0.5s;
  color: #fff;
}

.intro h1 {
  margin: 10px;
  font-size: 1.3rem;
  font-weight: 800;
  padding-bottom: 12px;
  border-bottom: 3px solid #fff;
}

.intro p {
  font-size: 16px;
  visibility: hidden;
  opacity: 0;
}

.cc_card:hover .intro {
  height: 450px;
  /* background: transparent; */
}

.cc_card:hover .cards_container .cc_card img {
  transform: scale(1.1) rotate(-3deg);
}

.cc_card:hover .intro p {
  opacity: 1;
  visibility: visible;
  padding: 10px;
}
#sponsors h2 {
  font-weight: 700;
}
#sponsors .sponsor_subheading {
  background-image: linear-gradient(
    to right,
    #ffffff,
    #dfdee9,
    #bebfd3,
    #9ca1be,
    #7984aa,
    #7984aa,
    #7984aa,
    #7984aa,
    #9ca1be,
    #bebfd3,
    #dfdee9,
    #ffffff
  );
}
#sponsors .sponsor_subheading h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
}
#trending_topics .trending_topics_cards {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 4px;
  padding: 40px 80px;
}
#trending_topics .trending_card {
  width: 240px;
  height: 200px;
  box-shadow: -4px 3px 41px 0px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  margin: 12px;
  padding: 20px 40px;
  background: #fff;
}
#trending_topics .trending_topics_cards h4 {
  font-weight: 700;
  font-size: 24px;
  color: #553165;
}
#trending_topics .trending_topics_cards img {
  width: 100px;
  padding-bottom: 20px;
}
#trending_topics .trending_topics_cards img:hover {
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
}

.tech_categories_section .container p {
  background-color: #75cde8;
  border-radius: 12px;
  margin: 6px;
  padding: 12px 20px;
  list-style: none;
  color: #fff;
}

.themes_fc_container {
  display: flex;
  flex-wrap: wrap;
}

.themes_fc_bg {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  /* border: 1px solid #fff; */
  border-radius: 12px;
}

.themes_fc_bg-1 {
  flex-basis: calc(33.33% - 20px);
  margin-right: 20px;
}

.themes_fc_bg-2 {
  flex-basis: calc(66.66% - 20px);
}
.themes_fc_bg-3,
.themes_fc_bg-4 {
  flex-basis: calc(50% - 20px);
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}
.themes_fc_bg-3 {
  margin-right: 20px;
}

#themes_in_focus .themes_fc_bg img {
  width: 80px;
  height: 80px;
  padding: 10px;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 20px;
}
#themes_in_focus h4 {
  font-weight: 600;
  /* background: linear-gradient(to left, rgb(39, 27, 37), rgb(124, 55, 67));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; */
}
#themes_in_focus p {
  font-weight: 600;
}
#info_section .container,
#why_oman .container,
#event_sessions .container,
#trending_topics .container {
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(5px);
  border-radius: 12px;
}
#themes_in_focus .themes_fc_bg {
  background-color: transparent;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  padding: 40px 20px;
  /* border: 1px solid white; */

  box-shadow: rgb(169, 202, 229) 5px 5px, rgba(98, 136, 162, 0.3) 10px 10px,
    rgba(149, 203, 225, 0.2) 15px 15px, rgba(110, 175, 215, 0.1) 20px 20px,
    rgba(82, 150, 239, 0.05) 25px 25px;
  /* box-shadow: rgb(97, 67, 67) 5px 5px, rgba(123, 68, 103, 0.3) 10px 10px,
    rgba(113, 80, 101, 0.2) 15px 15px, rgba(64, 56, 61, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px, rgb(97, 67, 67) -5px -5px,
    rgba(123, 68, 103, 0.3) -10px -10px, rgba(113, 80, 101, 0.2) -15px -15px,
    rgba(64, 56, 61, 0.1) -20px -20px, rgba(240, 46, 170, 0.05) -25px -25px; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

#client_logos .row .energy {
  width: 150px;
}
#client_logos .row .global_uni {
  width: 280px;
}
#client_logos img {
  width: 200px;
}

#topics_card .cards_position {
  padding: 40px 10px 10px 10px;
  /* background-color: #fff; */
  /* box-shadow: 0 10px 16px 0 rgb(0 0 0 / 10%), 0 6px 20px 0 rgb(0 0 0 / 10%); */
  /* box-shadow: rgb(97, 67, 67) 5px 5px, rgba(123, 68, 103, 0.3) 10px 10px,
    rgba(113, 80, 101, 0.2) 15px 15px, rgba(64, 56, 61, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px; */
  box-shadow: rgb(169, 202, 229) 5px 5px, rgba(98, 136, 162, 0.3) 10px 10px,
    rgba(149, 203, 225, 0.2) 15px 15px, rgba(110, 175, 215, 0.1) 20px 20px,
    rgba(82, 150, 239, 0.05) 25px 25px;
  /* margin: 30px 12px; */
  border-radius: 8px;
  height: 220px;
  width: 100%;
  text-align: center;
}
/* #topics_card .col-md-2 .cards_position:nth-child(even) {
  
  border-top: none;
  border-bottom: 2px solid #fff;
}
#topics_card .col-md-2 .cards_position:nth-child(odd) {

  border-top: 2px solid #fff;
  border-bottom: none;
} */
#topics_card .cards_position p {
  font-size: 14px;
  font-weight: 700;
  padding-top: 12px;
}

#who_should_attend .attendee_card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 12px;
  width: 180px;
  height: 180px;
  border: 1px solid #8a6161;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 12px;
}
#who_should_attend .attendee_card img {
  padding-bottom: 12px;
}

#video-section {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video-section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 23px;
  border-radius: 20px;
}
/* #video_section_sm {
  background-color: #6e7d97;
  background-image: linear-gradient(-315deg, #6e7d97 0%, #b3d6e4 74%);
} */

.footer {
  color: #fff;
  background-color: #0c0e1e;
}

footer a {
  color: #fff;
  text-decoration: none;
}
footer input {
  padding: 8px 12px;
  border: none;
  outline: none;
}
footer button {
  padding: 8px 18px;
  background: #4e4646;
  color: #fff;
  border: none;
  outline: none;
}
footer button:hover {
  background-color: #fff;
  color: #111;
}
footer input::placeholder {
  font-size: 18px;
}

.copy-right {
  font-size: 0.75rem;
  opacity: 0.8;
}

/************************ Media qurey section***************************/
@media screen and (min-width: 1024px) {
  .event_logo {
    display: inline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
  #trending_topics .trending_topics_cards {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
  .video-content {
    width: 100%;
  }
  #topics_card .col-md-2:nth-child(even) {
    position: relative;
    top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .event_logo {
    display: none;
  }
  .navTrigger {
    display: block;
  }
  .nav div.logo {
    margin-left: 15px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    /*same background color of navbar*/
    background-position: center top;
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 1rem;
    padding: 20px;
  }
  .nav div.media_button {
    display: block;
  }

  .video-container {
    padding-bottom: 75%; /* 4:3 aspect ratio (change if needed) */
  }
  .video-container:after {
    display: none;
  }
  .video-content h1 {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .video-content img {
    width: 260px;
  }

  .video-content h2 {
    font-size: 30px;
  }

  .cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 10px;
    justify-items: center;
  }

  .cc_card {
    width: 300px;
  }

  .cc_card:hover .intro p {
    opacity: 1;
    visibility: visible;
    padding: 10px;
    font-size: 14px;
  }
  #trending_topics .trending_topics_cards {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  #trending_topics .trending_card {
    margin: 10px;
  }
  .themes_fc_container {
    flex-direction: column;
  }

  .themes_fc_bg-1,
  .themes_fc_bg-2 {
    flex-basis: 100%;
    margin-right: 0;
    margin: 10px;
  }
  .themes_fc_bg-1,
  .themes_fc_bg-2,
  .themes_fc_bg-3,
  .themes_fc_bg-4 {
    margin: 10px;
    flex-basis: 100%;
  }
  .video-content {
    width: 100%;
  }
  #topics_card .col-md-2:nth-child(even) {
    position: relative;
    top: 0px;
  }
}
